@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.signInBtn {
    font-weight: 600;
}

.bannerSection {
    height: 70vh;
}

.searchBar {
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    /* border-radius: 15px; */
    width: 80%;

}

.mainHeading {
    font-weight: bold;
    font-size: 60px;
    font-family: Roboto;
}

.g {
    color: #4285F4;
}

.o1 {
    color: #DB4437;
}

.o2 {
    color: #F4B400;
}

.l {
    color: #0F9D58;
}



.button {
    color: gray;
    font-weight: 600;
    background-color: #F1F3F4;
    font-size: 15px;
}

.language {
    color: blue;
    padding-right: 7px;
}

.footerSection {
    background-color: #F1F3F4;
    color: gray;
}

a {
    color: gray;
}

hr {
    background-color: lightgray;
}